<footer class="footer">
  <div class="footer_container">
    <div class="footer_left">
      <div class="footer_left_content">
        <div class="footer_logo">
          <img src="assets/Logo-EuDiversidade-Texto.png" alt=""/>
        </div>
        <div class="footer_paginas">
          <ul style="list-style-type: none;">
            <li class="footer_paginas_decoration" style="border-right: 1px solid white;">
              <a routerLink="/home" fragment="inicioComponent" style="color: white">Inicio</a>
            </li>
            <li class="footer_paginas_decoration" style="border-right: 1px solid white;">
              <a routerLink="/home" fragment="projetosComponent" style="color: white">Projetos</a>
            </li>
            <li class="footer_paginas_decoration">
              <a routerLink="/home" fragment="quemSomosComponent" style="color: white">Sobre nos</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="footer_right">
      <div class="footer_right_content">
        <div class="footer_solcialLinks">
          <ul>
            <a>
              <li>
                <img src="assets\Instagram-Icon.png">
              </li>
            </a>
            <a>
              <li>
                <img src="assets\Twitter-Icon.png">
              </li>
            </a>
            <a>
              <li>
                <img src="assets\Facebook-Icon.png">
              </li>
            </a>
          </ul>
        </div>
        <div class="footer_contato">
          <button>Contato</button>
        </div>
      </div>
    </div>
  </div>
</footer>
